<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <form action="/quiz/antworten" method="POST">
        <ul>
            {% for frage in fragen %}
                <li>
                    <p>{{ frage.text }}</p>
                    <ul>
                        {% for antwort in frage.antworten %}
                            <li>
                                <input type="radio" name="{{ frage.id }}" value="{{ antwort.id }}">
                                {{ antwort.text }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Antworten</button>
    </form>
</body>
</html>
